* {
  padding: 0%;
  margin: 0%;
}
.container {
  background-color: rosybrown;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1 {
  margin: 20px;
  background-color: aliceblue;
  padding: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
}
.card1 h2 {
  border-top: 2px solid black;
  padding-top: 20px;
}
button {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  background: black;
  border: none;
}
button:hover {
  background-color: white;
  color: black;
}
